mat-drawer {
  position: fixed;
}
.menu-btn {
  position: fixed;
  z-index: 99;
  padding: 0;
  margin: 1em 1.5em;
  min-width: auto;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: dodgerblue;
  color: white;
}
.nav-btn .mat-raised-button {
  width: 100%;
  box-shadow: none;
  border-radius: 0;
  padding: .8em 4em;
}

.nav-btn .mat-raised-button {
  border-bottom: 2px solid lightgray;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}
